@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap");
body {
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/005/210/780/small_2x/abstract-geometric-white-and-gray-color-background-low-poly-pattern-illustration-vector.jpg);
}

h3,
label,
p {
    background-color: white;
}

h3 {
    color: white;
    font-family: "Quicksand", sans-serif;
}

.card {
  color: white;
  background-color: white;
}